package main

import (
	"github.com/urfave/cli/v3"
	"{{ go_module }}/cmd/hello"
)

func RootCmd() *cli.Command {
	return &cli.Command{
		Name:                  "{{ project_slug }}",
		Version:               Version,
		Usage:                 "{{ project_description }}",
		EnableShellCompletion: true,
		Commands: []*cli.Command{
			hello.Command(),
		},
	}
}