# https://taskfile.dev

version: "3"

vars:
  REPORTS_DIR: "reports"
  VERSION:
    sh: git describe --tags --always --dirty || echo "n/a"
  DATE:
    sh: date -u +%Y-%m-%dT%H:%M:%SZ
  COMMIT:
    sh: git rev-parse --short HEAD || echo "n/a"

  {% if project_type != 'library' -%}
  IMAGE_NAME: {{ project_slug }}:local-dev
  {%- endif %}

dotenv:
  - .env
  - .env.local

tasks:
  default:
    cmds:
      - task -l

  ensure_reports_dir:
    desc: Ensure reports directory exists
    internal: true
    cmds:
      - mkdir -p {% raw %}{{ .REPORTS_DIR }}{% endraw %}

  lint:
    desc: Run GolangCI-Lint
    cmds:
      - golangci-lint run

  lint-fix:
    desc: Run GolangCI-Lint with auto-fix
    cmds:
      - golangci-lint run --fix

  test:
    desc: Run unit tests
    deps:
      - ensure_reports_dir
    cmds:
      - |
        gotestsum \
          --format testname \
          --jsonfile {% raw %}{{ .REPORTS_DIR }}{% endraw %}/test-result.json \
          --  -coverprofile={% raw %}{{ .REPORTS_DIR }}{% endraw %}/coverage.out -covermode=atomic ./...

  gomod:
    desc: Download Go modules
    cmds:
      - go mod download && go mod tidy

  gomarkdoc:
    desc: Generate documentation using gomarkdoc
    cmds:
      - gomarkdoc --output {% raw %}'{{`{{.Dir}}`}}/GOMARKDOC.md'{% endraw %} ./...

  docs-build:
    desc: Build documentation site
    cmds:
      - mkdocs build

  docs-serve:
    desc: Serve documentation locally
    cmds:
      - mkdocs serve --dev-addr=127.0.0.1:{% raw %}{{ .DOCS_PORT | default "8080" }}{% endraw %}

  {% if project_type != 'library' -%}
  snapshot:
    desc: Create a snapshot build
    cmds:
      - goreleaser release --snapshot --skip-publish --rm-dist

  docker-build:
    desc: Build Docker image
    cmds:
      - |
        docker buildx build \
          --build-arg VERSION={% raw %}{{.VERSION}}{% endraw %} \
          --build-arg BUILD_DATE={% raw %}{{.DATE}}{% endraw %} \
          --build-arg VCS_REF={% raw %}{{.COMMIT}}{% endraw %} \
          -t {% raw %}{{.IMAGE_NAME}}{% endraw %} .

  docker-run:
    desc: Run Docker image
    cmds:
      - docker run -it --rm {% raw %}{{.IMAGE_NAME}} {{.CLI_ARGS}}{% endraw %}

  {%- endif %}

  {% if project_type == 'api' -%}
  dev:
    desc: Run development server
    cmds:
      - docker compose up

  stop:
    desc: Stop development server
    cmds:
      - docker compose down

  logs:
    desc: View development server logs
    cmds:
      - docker compose logs -f
  {%- endif %}
